{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />

<header class="text-center mb-4">
  <h2 class="h4 text-muted mt-3">Field Placement Application (COFAS)</h2>
</header>

<div class="container my-5">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}

  <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
    {% csrf_token %}

    <!-- Personal Information Section -->
    <div class="card my-4">
      <div class="card-header" style="background-color: #c1892d; color: white">
        <h3 class="h5 mb-0">Personal Information</h3>
      </div>
      <div class="card-body">
        {% for field in form %}
          {% if forloop.counter0 < 6 %} <!-- Adjust the range based on the actual number of fields in this section -->
            <div class="form-group">
              {{ field.label_tag }}<span style="color: crimson">*</span>
              {{ field }}
              {% if field.errors %}
                {% for error in field.errors %}
                  <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
              {% endif %}
              {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <!-- Field Placement Details Section -->
    <div class="card my-4">
      <div class="card-header" style="background-color: #c1892d; color: white">
        <h3 class="h5 mb-0">Field Placement Details</h3>
      </div>
      <div class="card-body">
        {% for field in form %}
          {% if forloop.counter0 >= 6 %} <!-- Adjust the range based on the actual number of fields in this section -->
            <div class="form-group">
              {{ field.label_tag }}<span style="color: crimson">*</span>
              {{ field }}
              {% if field.errors %}
                {% for error in field.errors %}
                  <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
              {% endif %}
              {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn-cos">Submit Application</button>
    </div>
  </form>
</div>
{% endblock %}