
{% extends "base.html" %}
{% block content %}
{% load static %}

<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/landing.css' %}">

<div class="d-flex flex-column min-vh-100"> 
    <!-- navbar --> 
    <div class="card text-center sticky-top" style="border: none; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);" >
        <div class="card-header custom-bg mt-1" style="background-color: #c1892d;">
            <ul class="nav nav-pills card-header-pills custom-bg">
                <li class="nav-item">
                    <a class="nav-link active" href="#home">Home</a>
                </li>
                <li class="nav-item ms-3">
                    <a class="nav-link" href="#about">About Us</a>
                </li>
                <li class="nav-item ms-3">
                    <a class="nav-link" href="{% url 'form' %}">Apply</a>
                </li>
            </ul>
            
        </div>
    </div>

    <div class="card text-center" style="border: none; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
        <div class="card-body p-5 bg-white mt-1" style="padding: 2rem;">
            <h5 class="card-title colo h1" style="font-size: 40px; font-weight: bold;">Advance Your Career with COSTECH</h5>
            <p class="card-text h4 text-dark mt-5" style="font-size: 1rem; line-height: 1.5;">Join our distinguished field placement and internship programs to gain invaluable experience and contribute to groundbreaking projects in the field of science and technology. Our programs are designed to foster professional growth and innovation.</p>
            <a href="{% url 'form' %}" class="btn btn-custom mt-5"><p class="fw-bold h6 text-white px-2 pb-2" style="color: #c1892d; padding: 15px 10px 0 10px;">Start Your Journey<i class="fa-solid fa-arrow-right ms-3"></i></p>
            </a>
        </div>
    </div>
    <!-- end of navbar -->

    <!-- About COFAS section -->
    <div class="container-fluid flex-grow-1 pt-5" id="about">
        <div class="text-center mt-5 section-header">
            <h2 class="dotted-border-effect">About COFAS</h2>
        </div>
        <div class="row px-4">
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <div class="card flex-fill" style="border: none; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
                    <div class="card-body" style="padding: 2rem;">
                        <h5 class="card-title" style="font-size: 40px; font-weight: bold;">Our Mission</h5>
                        <p class="card-text" style="font-size: 1rem; line-height: 1.5;">The COSTECH Field Application System (COFAS) was developed to streamline the application process for students seeking field placements at the Tanzania Commission for Science and Technology. We aim to nurture future leaders in science and technology by providing real-world experience in research and innovation.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <div class="card flex-fill" style="border: none; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
                    <div class="card-body" style="padding: 2rem;">
                        <h5 class="card-title" style="font-size: 40px; font-weight: bold;">Our Vision</h5>
                        <p class="card-text" style="font-size: 1rem; line-height: 1.5;">COFAS envisions empowering students through hands-on experience in Tanzania's leading technology institutions, equipping them with the knowledge and skills needed to drive the nation's development agenda in science and technology.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <div class="card flex-fill" style="border: none; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
                    <div class="card-body" style="padding: 2rem;">
                        <h5 class="card-title" style="font-size: 40px; font-weight: bold;">Why Choose COFAS?</h5>
                        <p class="card-text" style="font-size: 1rem; line-height: 1.5;">COSTECH offers a unique opportunity for students to work with top researchers and experts in various fields of science and technology. Through COFAS, students are placed in a variety of settings that align with their academic background and career aspirations, providing valuable hands-on experience that prepares them for the future.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}
